@import url("https://fonts.googleapis.com/css?family=Lobster|Lora:400,400i,700");
html {
  background-color: var(--backgroundColor);
}
#main {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  font-family: "Lora", serif;
  font-size: 1.5em;
}
#button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 0px auto;
  margin-top: 50px;
}
#content {
  height: 30vh;
  font-weight: bold;
  font-style: italic;
}
.button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 0.5em;
}
.button:hover {
  color: var(--backgroundColor);
}

/* LAPTOP */
@media screen and (min-width: 765px) {
  #main {
    font-size: 2em;
  }
  .button {
    font-size: 0.7em;
    padding: 20px;
  }
}
